.account-component
{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    padding: 2%;
    width: 78%;
}
.account-details
{
    display: flex;
    justify-content: space-between;
    margin: 3% 0;
}